/* Styles for all */

*{
    font-family: "museo-sans", sans-serif;
    /* font-family: "le-monde-livre-std", serif; */
    font-weight: 500;
}
h1{
    font-family: "museo-sans-display", sans-serif;
    font-weight: 800;
    color: #4e342e;
}

a{
    color:unset;
}
a:hover{
    color: #4e342e;
    opacity: 0.8;
}

.navbar{
    background: rgba(255, 255, 255, 0.9);
    /* position: absolute; */
    /* display: block; */
    z-index: 10;
    width: 100%;
    padding-right: 5%;
}

#nav-icon{
    width: 200px;
    margin-left: 5%;
}





/* home page styles */
.home-container{
    height: 100vh;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-row{
    margin-top:100px;
}
#home-row p{
    font-size: 28px;
    font-weight: 100;
    line-height: 1.3em;
}
.wrapper{
    height: 100vh;
    background-image: url("./assets/img/background.png");
    background-size: cover;
    overflow: hidden;
}


#g-play-link{
    width:300px;
    margin:auto;
    display: block;
}
#trapezoid {
    border-bottom: 100vh solid #fbc02d;
    /* border-left: 25px solid transparent; */
    border-left: 300px solid transparent;
    height: 0;
    width: 60%;
    position: absolute;
    right:0;
    z-index: 0;
    opacity: 0.8;
  }

  .home-bullet{
      display: flex;
      padding: 5px 0;
  }
  .bullet-icon{
      width:50px;
  }
  .bullet-icon img{
      width: 50px;
  }
  .bullet-text{
    min-height: 10px;
    display: inline-flex;
    align-items: center;
    margin-left:20px;
    line-height: 1.15em;
    font-size: 18px;
    font-weight: 300;

  }
  .dl-row{
      margin-top: 50px;
  }
  .dl-row p{
      font-weight: 100;
  }

  .intro-col{
      padding-right: 20px;
  }




