/* home page styles */
.home-container{
    height: 100vh;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-row{
    margin-top:85px;
}
#home-row p{
    font-size: 28px;
    font-weight: 100;
    line-height: 1.3em;
}
.wrapper{
    height: 100vh;
    background-image: url("../img/background.png");
    background-size: cover;
    overflow: hidden;
}

.navbar{
    position: absolute;
}
.download-link{
    width:300px;
    margin: 0 5px;
}
.download-link img{
    width: 100%;
}
#app-store-link{
    padding: 8px 0px;
    width:250px;
}
#trapezoid {
    border-bottom: 100vh solid #fbc02d;
    /* border-left: 25px solid transparent; */
    border-left: 300px solid transparent;
    height: 0;
    width: 60%;
    position: absolute;
    right:0;
    z-index: 0;
    opacity: 0.8;
  }

  .home-bullet{
      display: flex;
      padding: 5px 0;
  }
  .bullet-icon{
      width:50px;
  }
  .bullet-icon img{
      width: 50px;
  }
  .bullet-text{
    min-height: 10px;
    display: inline-flex;
    align-items: center;
    margin-left:20px;
    line-height: 1.15em;
    font-size: 18px;
    font-weight: 300;

  }
  .dl-row{
      margin-top: 50px;
  }
  .text-center p{
      font-weight: 100;
  }

  .intro-col{
      padding-right: 20px;
  }


