.feat-row{
    width:100%;
    padding: -150px 0;
}

.feat-row h1{
    margin-bottom: 24px;
    line-height: 1.1em;
}
.feat-row p{
    font-weight: 300;
    margin-bottom: 8px;
    /* margin-top: 20px; */
}
.feat-row-y{
    background-color: #fbc02dcc;
}
.feat-row-w{
    background-color: #ffffff;
}
.feat-row-y h1{
    color: #fff;
}
.row{
    margin:0;
}

.feat-col{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.feat-img img{
    max-width: 100%;
}

.triangle{
    border-left: 1000px solid transparent;
    height: 0;
    width: 100%;
}
.triangle-b{
    border-top: 150px solid #fbc02dcc;
}

.triangle-t{
    border-bottom: 150px solid #fbc02dcc;

}
