.feat-row{
    width:100%;
}
.feat-row-y{
    background-color: #fbc02d;
}
.feat-row-w{
    background-color: #ffffff;
}

.row{
    margin:0;
}

.feat-col{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.feat-img img{
    max-width: 100%;
}

.triangle{
    border-left: 1000px solid transparent;
    height: 0;
    width: 100%;
}
.triangle-b{
    border-top: 70px solid #fbc02d;
}

.triangle-t{
    border-bottom: 70px solid #fbc02d;

}