/* Styles for all */
.wrapper{
    padding-bottom: 100px;
}

h2{
    font-size:22px;
}
h3{
    font-size: 16px;
}

.banner{
    height: 500px;
    overflow: hidden;
    position: relative;
    width: 100%;
    
}
.overlay{
    position: absolute;
    background: linear-gradient(to top, rgba(251,192,45,0.5) 0%,rgba(251,192,45,0) 100%) ;
    height: 500px;
    width: 100%;
    top:0;
    left:0;
}
.banner img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 50% 50%;
}

.about-container{
    margin-top: -160px;
}

h1.page-title{
    position: relative;
    font-size: 40px;
    padding: 10px 20px;
    text-shadow:  0px 0px 5px #fff;
}
.text-col{
    padding: 30px;
    background: #ffffffee;
    border-radius: 5px;
    
}

.team-col ul{
    list-style-type: none;
    padding: 0;
}
.team-col ul li{
    font-weight: 100;
    line-height: 1.1em;
    margin-bottom: 8px;
}

.team-col{
    padding: 30px;
    padding-top: 40px;
    margin-top: 80px;
    /* column-count: 2; */

}

.team-col h2{
    font-size: 16px;
    font-weight: 900;
    border-bottom: #fbc02d 2px solid;
    width: fit-content;
    margin-bottom: 30px;
    /* color: #fbc02d; */
}
.team-col ul{
    column-count: 2;
}

.text-col p{
    font-size: 16px;
}

.thankful{
    background: #4e342e33;
    /* color: #fff; */
    padding: 20px;
    /* margin: 0 -20px; */
    margin-top: 40px;
}
.sponsors p {
    padding: 0 5px;
    
    border-left: #fbc02d 2px solid;
}

.sponsors p:first-child{
    margin-right: 10px;
}

.link-row .link-text{
    font-size: 24px;
    margin: 0;
    text-align: center;
    font-weight: 100;
}
.link-row{
    background-color: #4e342e33;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 8px #eee;
}
.link-row:hover{
    background-color: #fbc02d;
}

.link-row.inactive:hover{
    background-color: #4e342e33;
    text-decoration: none;
}
.inactive-text{
    text-align: center;
    font-weight: 100;
}